.cell{
  border-style: solid;
  border-width: 1px;
  flex-grow: 1;
  
}

.row{
  display: flex;
  flex-grow: 1;
}

#container{
  display: flex;
  flex-direction: column;  
  
  min-width: 300px;
  min-height: 300px;
  aspect-ratio: 1;
  height: 80vh;
  width: 80vh;
}

.centered{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

